{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Formulário de Produto</title>
</head>
<body>
    <div class="form-container">
        <h1>{% if produto.id %}Editar{% else %}Adicionar{% endif %} Produto</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" value="{{ form.nome.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="codigo">Código do Produto:</label>
                <input type="text" id="codigo" name="codigo" value="{{ form.codigo.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao">{{ form.descricao.value|default_if_none:'' }}</textarea>
            </div>
            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" value="{{ form.preco.value|default_if_none:'' }}">
            </div>
            <button type="submit">{% if produto.id %}Atualizar{% else %}Adicionar{% endif %}</button>
            <a class='back-button' href="{% url 'produto_list' %}">Voltar à Lista</a>
        </form>
    </div>
</body>
</html>
