{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Confirmar Exclusão</title>
</head>
<body>
    <div class="confirm-container">
        <h1>Confirmar Exclusão</h1>
        <p>Tem certeza de que deseja excluir o produto "{{ produto.nome }}"?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Excluir</button>
            <a class='back-button' href="{% url 'produto_list' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>
